*{
    margin: 0;
    padding: 0;
    font-family: "Rubik", sans-serif;
}

.full-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
}

.background{
    background: linear-gradient(50deg, #a0eaf2, #796fe2);
    animation: Gradient 30s ease infinite;
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    background-size: 400% 400%;
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.login-window{
    width: 300px;
    height: 500px;
}

.LOGIN-style{
    width: 100%;
}

.shadow{
    background-color: rgba(255, 255, 255, 0.544);
    padding: 2em;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 200px;
}

.input {
    position: relative;
    margin: 30px;
    width: 310px;
    border-bottom: 2px solid white;
}
.input label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    pointer-events: none;
    transition: 0.5s;
}
input:focus ~ label, input:valid ~ label {
    top: -5px;
}
.input input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding: 0 35px 0 5px;
}
.input span {
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    top: 20px;
}

submit:hover{
    background-color: #2c247c;
    cursor: pointer;
}