*{
    margin: 0;
    padding: 0;
}

.full-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
}

.background{
    background: linear-gradient(50deg, #a0eaf2, #796fe2);
    animation: Gradient 30s ease infinite;
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    background-size: 400% 400%;
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.login-window{
    width: 300px;
    height: 300px;
}
.LOGIN-style{
    padding-bottom: 1em;
    width: 100%;
}

.shadow{
    background-color: rgba(255, 255, 255, 0.544);
    padding: 2em;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}