
* {
    margin: 0;
    padding: 0;
    font-family: "Rubik", sans-serif;
}

/* Admin view */
.add-user {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background: darkblue;
    background-position: center;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
}

.form-box {
    position: relative;
    width: 400px;
    height: 450px;
    background: rgba(255, 255, 255, 0.3);
    border: 2px solid rgba(255, 255, 255, 1);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-value h2 {
    text-align: center;
    font-size: 2em;
}

.form-value .submit {
    margin-top: 10px;
    text-align: center;
}

.input {
    position: relative;
    margin: 30px;
    width: 310px;
    border-bottom: 2px solid white;
}

.input label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    pointer-events: none;
    transition: 0.5s;
}

input:focus ~ label,
input:valid ~ label {
    top: -5px;
}

.input input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding: 0 35px 0 5px;
    font-family: 'Poppins', sans-serif;
}

.input span {
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    top: 20px;
}

.submit button {
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background: white;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
}

/* Login view */
.full-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    font-family: "Rubik", sans-serif;
}

.background {
    background: linear-gradient(50deg, #a0eaf2, #796fe2);
    animation: Gradient 30s ease infinite;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    z-index: -1;
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.LOGIN-style {
    position: absolute;
    width: 60%;
    transform: translateY(-125%);
}

.form-box-login {
    position: relative;
    width: 400px;
    height: 450px;
    background: rgba(255, 255, 255, 0.3);
    border: 2px solid rgba(255, 255, 255, 1);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input .input-login {
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding: 0 35px 0 5px;
    font-family: "Rubik", sans-serif;
}

.alert-error {
    color: red;
    font-size: 1em;
    text-align: center;
    margin-top: 20px;
}
/* view */
#viewer {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
} #viewer img {
    width: 100vw;
    height: 100vh;
} #viewer span {
    position: absolute;
    font-size: 60px;
    background: rgba(255, 255, 255, 0.75);
    border-radius: 50px;
    user-select: none;
} #viewer span:active {
    opacity: 0.5;
} #viewer #right {
    margin-left: 95vw;
    margin-top: 45vh;
} #viewer #left {
    margin-left: 0.5vw;
    margin-top: 45vh;
} #viewer #up {
    margin-left: 48.5vw;
    margin-top: 60vh;
} #viewer #down {
    margin-left: 48.5vw;
    margin-top: 89vh;
}

#maria {
    position: absolute;
    font-size: 60px;
    background: rgba(190, 118, 118, 0.75);
    border-radius: 50px;
    user-select: none;
    margin-left: 30px;
    margin-bottom: 20px;
} #maria:hover ~ table {
    opacity: 1;
}

thead {
    background-color: rgb(123, 144, 207);
} tbody {
    background-color: rgb(34, 34, 34);
    color: white;
} table {
    border: 1px solid black;
    border-collapse: collapse;
    position: absolute;
    margin-left: 350px;
    margin-top: 150px;
    opacity: 0;
}
/* transform: rotate(45deg); */

.alert-error {
    color: red;
    font-size: 1em;
    text-align: center;
    margin-top: 20px;
}
/* view */
#viewer {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
} #viewer img {
    width: 100vw;
    height: 100vh;
} #viewer span {
    position: absolute;
    font-size: 60px;
    background: rgba(255, 255, 255, 0.75);
    border-radius: 50px;
    user-select: none;
} #viewer span:active {
    opacity: 0.5;
} #viewer #right {
    margin-left: 95vw;
    margin-top: 45vh;
} #viewer #left {
    margin-left: 0.5vw;
    margin-top: 45vh;
} #viewer #up {
    margin-left: 48.5vw;
    margin-top: 1vh;
} #viewer #down {
    margin-left: 48.5vw;
    margin-top: 89vh;
}

#maria {
    position: absolute;
    font-size: 60px;
    background: rgba(190, 118, 118, 0.75);
    border-radius: 50px;
    user-select: none;
    margin-left: 30px;
    margin-bottom: 20px;
} #maria:hover ~ table {
    opacity: 1;
}

thead {
    background-color: rgb(123, 144, 207);
} tbody {
    background-color: rgb(34, 34, 34);
    color: white;
} table {
    border: 1px solid black;
    border-collapse: collapse;
    position: absolute;
    margin-left: 350px;
    margin-top: 150px;
    opacity: 0;
}
/* transform: rotate(45deg); */

/* upload */
.left-box {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 255, 0.5);
    min-width: 50vw;
    min-height: 100vh;
} .upload-img {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.5);
    font-size: large;

    border: dashed rgba(0, 0, 0, 0.5) 2px;
    border-radius: 20px;
    width: 400px;
    height: 400px;
    margin-top: 10%;
    margin-left: 10%;
} #example-person {
    position: absolute;
    font-size: 60px;
    background: rgba(190, 118, 118, 0.75);
    border-radius: 50px;
    user-select: none;
    margin-left: 10%;
    margin-top: 20px;
} #example-arrow {
    position: absolute;
    font-size: 60px;
    background: rgba(255, 255, 255, 0.75);
    border-radius: 50px;
    user-select: none;
    margin-left: 25%;
    margin-top: 20px;
} .button {
    position: absolute;
    line-height: 60px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 24px;
    background: rgba(255, 255, 255, 0.75);
    border-radius: 50px;
    user-select: none;
    margin-left: 45%;
    margin-top: 20px;
.everything{
    position: relative;
}