{% extends "base.html" %}
{% block content%}
<section class="add-user">
    <div class="form-box">
        <div class="form-value">
            <form action="POST">
                <h2>NUEVO USUARIO</h2>
                <div class="input">
                    <span class="material-symbols-outlined">
                        mail
                    </span>
                    <input type="email" required name = "userMail" id = "userMail">
                    <label for="userMail">Email</label>
                </div>
                <div class="input">
                    <span class="material-symbols-outlined">
                        person
                    </span>
                    <input type="text" required name = "userName" id = "userName">
                    <label for="userName">Nombre</label>
                </div>
                <div class="input">
                    <span class="material-symbols-outlined">
                        id_card
                    </span>
                    <input type="text" required name = "userRole" id = "userRole">
                    <label for="userRole">Rol</label>
                </div>
                <div class="submit">
                    <button type="submit">Crear Usuario</button>
                </div>
            </form>
        </div>
    </div>
</section>
{% endblock %}