<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/css/admin.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
        <title>Augmented Labs - Admin</title>
    </head>
    <body>
        <section class="add-user">
            <div class="form-box">
                <div class="form-value">
                    <form action="">
                        <h2>NUEVO USUARIO</h2>
                        <div class="input">
                            <span class="material-symbols-outlined">
                                mail
                            </span>
                            <input type="email" required name = "userMail" id = "userMail">
                            <label for="userMail">Email</label>
                        </div>
                        <div class="input">
                            <span class="material-symbols-outlined">
                                person
                            </span>
                            <input type="text" required name = "userName" id = "userName">
                            <label for="userName">Nombre</label>
                        </div>
                        <div class="input">
                            <span class="material-symbols-outlined">
                                id_card
                            </span>
                            <input type="text" required name = "userRole" id = "userRole">
                            <label for="userRole">Rol</label>
                        </div>
                        <div class="submit">
                            <button type="submit">Crear Usuario</button>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </body>
</html>