{% extends "base.html" %}
{% block content %}
<div class="background">
    <div class="left-box">
        <div class="upload-img">
            Arrastra la Imagen
        </div>
        <div>
            <span class="material-symbols-outlined" id="example-person" onclick="">
                person
            </span>
            <span class="material-symbols-outlined" id="example-arrow" onclick="">
                keyboard_arrow_right
            </span>
            <span class="button">
                Upload Image
            </span>
        </div>
    </div>
    <div class="img-example">

    </div>
</div>
{% endblock %}